html{
	
	margin: 0px;
	padding: 0px;
}

body{
	background: black;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

header, footer{
	background: #EEE;
	height: 70px;
	padding: 5px;
	text-align: center;
	width: 100%;
}
header{
	border-bottom: 2px solid #CCC;
	font-family: "Play";
}
footer{
	border-top: 2px solid #CCC;
	font-family: "Play";
}

#game_div{	
	display: inline-block;
	margin: auto;
	left: calc(50% - 375px);
	padding: 5px;
	position: relative;
	width: 750px;
}

#start {
	cursor: pointer;
	left: calc(50% - 195px);
	position: absolute;
	top: 300px;
}

#reset{
	border: 3px solid #BBB;
	display: none;
	position:absolute;
	right: 70px;
	top:400px;
}

#reset:hover{
	border-color: red;
}